<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{title}}</h1>
        <div>
            <h2>Users</h2>
            <p>
                Number of users: {{users|length}}
            </p>
        </div>
    </div>
</body>
</html>
