<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{title}}</h1>
        <div class="content">
            <div class="status-box">
                <h2>System Status:</h2>
                <p>Log file: 
                    <span style="color: {% if logs %}green{% else %}red{% endif %};">
                        {% if logs %}Read{% else %}File not found{% endif %}
                    </span>
                </p>
                <p>Keycloak Connection: 
                    <span style="color: {% if keycloak %}green{% else %}red{% endif %};">
                        {% if keycloak %}Connected{% else %}Connection error{% endif %}
                    </span>
                </p>
                <p>MongoDB Connection: 
                    <span style="color: {% if mongodb %}green{% else %}red{% endif %};">
                        {% if mongodb %}Connected{% else %}Connection error{% endif %}
                    </span></p>
            </div>
            <div class="status-box">
                <h2>API Information:</h2>
                <p>Number of requests executed: {{queries}}</p>
                <p>Number of users: {{users}}</p>
                <p>Number of {{record_one_tag}} records: {{record_one}}</p>
                <p>Number of {{record_two_tag}} records: {{record_two}}</p>
            </div>
        </div>
    </div>
</body>
</html>
